@use "sass:map";
@use '../utilities/maps' as *;

/* =====================================
   FOOTER (FLEX PROPIO)
===================================== */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  text-align: center;

  background: map.get($colores, cuartario);   // fondo gris claro
  color: map.get($colores, terciario);        // texto gris oscuro

  .creditos {
    margin-top: 5px;
    font-size: 13px;
    color: map.get($colores, terciario);      // gris oscuro
  }
}
