# Caché de Sass
.sass-cache/
*.css.map

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de editor
.vscode/
.idea/

# Logs
*.log

# Temporales
*.tmp
*.swp

# Node (si algún día usás npm)
node_modules/

# Builds
dist/
build/

# Variables privadas
.env
