$colores: (
  primario: #ffffff,       // blanco
  secundario: #000000,     // negro
  terciario: #2c2c2c,      // gris oscuro
  cuartario: #f1f3f6,      // gris claro del footer

  //  Colores del main.scss:
  
  borde-ventaja: #e1e6f0,
  borde-producto: #e8ecf3,
  azul-boton: #3c4a64,
  borde-faq: #d5d9e4,

  sombra-suave: rgba(0,0,0,0.05),
  sombra-media: rgba(0,0,0,0.08),
  sombra-12: rgba(0,0,0,0.12),
  sombra-18: rgba(0,0,0,0.18)
);

